  body {
      font-family: Arial, sans-serif;
      margin: 40px;
      background-color: #549977;
      color: #333;
  }

  .container {
      background: #f3f1f1;
      padding: 30px;
      max-width: 800px;
      margin: auto;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
  }

  h1,
  h2 {
      color: #2c3e50;
  }

  hr {
      border: none;
      height: 1px;
      background-color: #ccc;
      margin: 20px 0;
  }

  ul {
      padding-left: 20px;
  }

  p {
      margin-bottom: 10px;
  }

  .titulo {
      color: rgb(3, 92, 3)
  }
  .subtitulo {
    color: rgb(255, 64, 64)
  }
  .text1 {
    color: rgb(230, 111, 0);
  }
  .text2 {
    color: rgb(1, 83, 235)
  }
  .text3 {
    color: rgb(15, 2, 92);
  }